.container {
  max-width: 1200px;
  margin: auto;
}

table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

thead {
  border: 2px solid black;
}

td,
th {
  border: 1px solid black;
  text-align: start;
  padding: 10px 5px;
}
